*{
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', sans-serif;
    background-color: #333366;
}

.login
{
    text-align: center;
    margin-top: 100px;
    color: #eee;
    font-size: 60px;
}

.idUser
{
    text-align: center;
}

.idUser input
{
    width: 450px;
    height: 50px;
    border-radius: 7px;
    background-color: #333333;
    font-size: 18px;
}

#botao_login
{
    background-color: #66CCFF;
    color: rgb(12, 6, 6);
}